{
    "parser": "babel-eslint",
    "extends": [
        "standard",
        "plugin:prettier/recommended"
    ],
    "env": {
        "es6": true,
        "node": true
      },
      "rules": {
        "semi": [2, "never"],
        "no-underscore-dangle": 0,
        "max-len": 0,
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
        "no-console": 0,
        "prettier/prettier": ["error", { "singleQuote": true }]
      },
      "settings": {
        "import/resolver": {
          "node": ["node_modules", "src/"]
        }
      }
}